:root {
    --nav-bar-width: 12rem;

    --study-hover-color: #4e8144;
    --study-selected-color: #343837;

    --series-hover-color:#4e8144;
    --series-selected-color: #232726;

    --instance-hover-color: #4e8144;
    --instance-selected-color: #212625;

    --details-top-margin: 2px;

    --nav-side-color: #9fae98;
    --nav-side-bg-color: #1f2922;
    --nav-side-selected-bg-color: #191d1b;
    --nav-side-hover-bg-color: #28332d;
    --nav-side-submenu-color: #39a25c;

    --bs-body-bg: #1d1d1def;
    --bs-body-line-height: 1.0rem;
    --bs-body-font-size: 0.9rem;
}